@font-face {
  font-family: Inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
}

body {
  margin: 0;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

h1 {
  color: black;
  margin: 20px;
}

div {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.card {
  float: left;
  margin: 20px;
  width: 150px;
  height: 150px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  border-style: solid;
  border-width: 1.5px;
  border-color: lightgrey;
}

.cardy {
  display: flex;
  align-items: center;
  margin: 1px;
  margin-top: 12px;
  width: 125px;
  height: 10px;
  padding: 10px;
  background-color: rgb(221, 186, 186);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

#c2 {
  border: none;
  background-color: black;
  color: white;
}

#c4 {
  border-style: solid;
  border-width: 1.5px;
  border-color: royalblue;
}

#hea {
  color: rgb(248, 70, 70);
  text-shadow: 1px 1px 5px #30303048;
}
